<h1>Editing Change Order</h1>

<%= render 'form', change_order: @change_order %>

<%= link_to 'Show', @change_order %> |
<%= link_to 'Back', change_orders_path %> |
<%= link_to 'show Thunder Demolition', show_alternative_change_order_path(@change_order) %>